:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
    --body-font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--body-font-family);
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 2%;

}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    color: var(--white);
    width: 496px;
    height: 1,07;
    text-align: center;

}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 36px;    
    letter-spacing: 2%;
    text-align: center;
}

h3 {
    font-family: Roboto, sans-serif;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
}

.webtext {
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: var(--iris);
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 3%;
    margin-left: 156px;
}

.studiotext 
{
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: var(--navy-blue);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 3%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  40px;
    background-color: white;
    height: 72px;
    
    
}
.header ul {
    
    list-style-type: none;
    font-weight: medium;
    gap: 40px;
    line-height: 1.5;
    font-size: 16px;
    color: #2E2F42;
    display: flex;
    font-family: Roboto, sans-serif;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 400;
    font-size: 16px;
    

} 

.address a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    padding-left: 156px;
    text-decoration-line: none;
    font-style: normal;
    
}


.hero {
    background-color: #2E2F42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}



.herobutton {
    background-color: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3%;
    padding: 16px 32px;
    border: none;
    
}

.herobutton:hover {
    background-color: #404bbf;
    cursor: pointer;
}


.values {
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--white);
    padding: 120px 24px;
    gap: 24px;
    margin: 0;
}   

.team-section {
    background-color: var(--cloud);
    padding: 120px 24px 72px;
    

.team{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    text-align: center;
}

.section-portfolio {
    background-color: var(--white);
    padding: 120px 24px 72px;
}

.ourportfolio {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: var(--navy-blue);
    padding: 40px;
    color: var(--white);
    text-align: left;
    height: 312px;

}

.studiotext2 {
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: var(--cloud);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-align: left;
}